//新規会員登録ヘッダー部分//
.new__header
  .new__header__wrap
    %h1
      = link_to root_path do
        =image_tag "logo001.png", class:"new__header__wrap__logo"
    %ol
      %li.process-first.active
        会員情報
        .process-radius-active-first
      %li.process
        電話番号認証
        .process-radius
      %li.process
        お届け先住所入力
        .process-radius
      %li.process
        支払い方法
        .process-radius
      %li.process-last
        完了
        .process-radius

      //新規会員登録コンテンツ部分//
.new__main
  %h2.new__main-contents__title 会員情報入力
  .new__main-contents
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .new__main-contents__form
        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label ニックネーム
          %span.new__main-contents__form-wrap__hissu 必須
          = f.text_field :nickname, placeholder:"例）メルカリ太郎",class:"login__form-nickname"
          - if @user.errors.present?
            %p.new__main-contents__form-wrap-p ニックネームを入力してください。

        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label メールアドレス
          %span.new__main-contents__form-wrap__hissu 必須
          = f.text_field :email, placeholder:"PC・携帯どちらでも可",class:"login__form-email"
          - if @user.errors.full_messages_for(:email).present?
            - @user.errors.full_messages_for(:email).each do |message|
              %p.new__main-contents__form-wrap-p= message

        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label パスワード
          %span.new__main-contents__form-wrap__hissu 必須
          = f.text_field :password, placeholder:"6文字以上",class:"login__form-password",maxlength:"128"
          - if @user.errors.full_messages_for(:password).present?
            - @user.errors.full_messages_for(:password).each do |message|
              %p.new__main-contents__form-wrap-p= message
        
        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label パスワード（確認）
          %span.new__main-contents__form-wrap__hissu 必須
          = f.text_field :password, placeholder:"６文字以上",class:"login__form-password",maxlength:"128"
          - if @user.errors.full_messages_for(:password).present?
            - @user.errors.full_messages_for(:password).each do |message|
              %p.new__main-contents__form-wrap-p= message

        .new__main-contents__form-wrap
          %h1 本人確認
          %span 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
  
        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label 姓（全角）
          %span.new__main-contents__form-wrap__hissu 必須
          = f.text_field :last_name, placeholder:"例）山田",class:"login__form-last-name"
          - if @user.errors.present?
            %p.new__main-contents__form-wrap-p 姓を入力してください。


        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label 名（全角）
          %span.new__main-contents__form-wrap__hissu 必須
          = f.text_field :first_name, placeholder:"例）綾",class:"login__form-first-name"
          - if @user.errors.present?
            %p.new__main-contents__form-wrap-p 名を入力してください。

        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label 姓カナ（全角）
          %span.new__main-contents__form-wrap__hissu 必須
          = f.text_field :last_name_kana, placeholder:"例）ヤマダ",class:"login__form-last-name-kana"
          - if @user.errors.full_messages_for(:last_name_kana).present?
            - @user.errors.full_messages_for(:last_name_kana).each do |message|
              %p.new__main-contents__form-wrap-p= message


        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label 名カナ（全角）
          %span.new__main-contents__form-wrap__hissu 必須
          = f.text_field :first_name_kana, placeholder:"例）アヤ",class:"login__form-first-name-kana"
          - if @user.errors.full_messages_for(:first_name_kana).present?
            - @user.errors.full_messages_for(:first_name_kana).each do |message|
              %p.new__main-contents__form-wrap-p= message


        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label 生年月日
          .new__main-contents__form-wrap__select
            = f.select :year, options_for_select(1900..2030),{include_blank:"-"},{autofocus: 'true', class: 'new__main-contents__form-wrap__select-year'}
            %span.new__main-contents__form-wrap__select-title　年
          .new__main-contents__form-wrap__select
            = f.select :month, options_for_select(1..12),{include_blank:"-"},{autofocus: 'true', class: 'new__main-contents__form-wrap__select-year'}
            %span.new__main-contents__form-wrap__select-title　月
          .new__main-contents__form-wrap__select
            = f.select :day, options_for_select(1..31),{include_blank:"-"},{autofocus: 'true', class: 'new__main-contents__form-wrap__select-year'}
            %span.new__main-contents__form-wrap__select-title　日
          -if @user.errors.present?
            %p.new__main-contents__form-wrap-p 生年月日を入力してください
    
        .new__main-contents__form-wrap
          %span ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
  
        .new__main-contents__form-wrap
          = recaptcha_tags

        .new__main-contents__form-wrap
          %span 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします

        = f.submit "次へ進む",class:"login__form-loginbtn"
        .login__form__wrap
          = link_to "本人情報の登録について",""

= render 'shared/member-new-login-footer'    