.sign-up__header
    %h1
        = link_to "/" do
            =image_tag "logo001.png", class:"sign-up__header__logo"
.sign-up
    %h2.sign-up__title 新規会員登録
    .sign-up__link
        .sign-up__link__wrapper
            = link_to "メールアドレスで登録", new_user_registration_path,class:"sign-up__link__wrapper__mail"
            = fa_icon "envelope",id:"sign-up__link__wrapper__mail-icon"
        .sign-up__link__wrapper
            %button.sign-up__link__wrapper__facebook Facebookでログイン
            = fa_icon "facebook-official",id:"sign-up__link__wrapper__facebook-icon"
        .sign-up__link__wrapper
            %button.sign-up__link__wrapper__google　Googleでログイン
            = fa_icon "google",id:"sign-up__link__wrapper__google-icon"
.sign-up__footer
    .sign-up__footer__list
        .sign-up__footer__list-privacy
            = link_to "プライバシーボリシー"
        .sign-up__footer__list-riyou
            = link_to "メルカリ利用規約"
        .sign-up__footer__list-syoutorihiki
            = link_to "特定商取引に関する表記"
    = link_to root_path do
        =image_tag "logo-gray.svg",class:"sign-up__footer__logo"
    %p.small_title @××××　Mercari
    