.item__wrap
    = link_to class:"item__wrap-link" do
        = image_tag "items/sample002.jpg" ,class:"item__wrap-link__img"
        .item__wrap-link__text
            %h3.item__wrap-link__text__item-name サンプル
            .item__wrap-link__text__info
                .item__wrap-link__text__info__item-price ¥1,000
                .item__wrap-link__text__info__item-favorite いいね１
            %p.item__wrap-link__text__item-tax (税込み)
.item__wrap
    = link_to class:"item__wrap-link" do
        = image_tag "items/sample002.jpg" ,class:"item__wrap-link__img"
        .item__wrap-link__text
            %h3.item__wrap-link__text__item-name サンプル
            .item__wrap-link__text__info
                .item__wrap-link__text__info__item-price ¥1,000
                .item__wrap-link__text__info__item-favorite いいね１
            %p.item__wrap-link__text__item-tax (税込み)
.item__wrap
    = link_to class:"item__wrap-link" do
        = image_tag "items/sample002.jpg" ,class:"item__wrap-link__img"
        .item__wrap-link__text
            %h3.item__wrap-link__text__item-name サンプル
            .item__wrap-link__text__info
                .item__wrap-link__text__info__item-price ¥1,000
                .item__wrap-link__text__info__item-favorite いいね１
            %p.item__wrap-link__text__item-tax (税込み)
.item__wrap
    = link_to class:"item__wrap-link" do
        = image_tag "items/sample002.jpg" ,class:"item__wrap-link__img"
        .item__wrap-link__text
            %h3.item__wrap-link__text__item-name サンプル
            .item__wrap-link__text__info
                .item__wrap-link__text__info__item-price ¥1,000
                .item__wrap-link__text__info__item-favorite いいね１
            %p.item__wrap-link__text__item-tax (税込み)
