//新規会員登録ヘッダー部分//
.new__header
  .new__header__wrap
    %h1
      = link_to "/" do
        =image_tag "logo001.png", class:"new__header__wrap__logo"
    %ol
      %li.process-first
        会員情報
        .process-radius-active-first
      %li.process.active
        電話番号認証
        .process-radius-active
      %li.process
        お届け先住所入力
        .process-radius
      %li.process
        支払い方法
        .process-radius
      %li.process-last
        完了
        .process-radius
        //認証コード確認コンテンツ部分//
.new__main
  %h2.new__main-contents__title 認証コードの入力
  .new__main-contents
    = form_for(@phonenumber,url:{controller:'phone_numbers',action:'verification'}) do |f|
      .new__main-contents__form
        .new__main-contents__form-wrap
          %label.new__main-contents__form-wrap__label 認証コード
          = f.text_field :verification_code_confirmation, placeholder:"認証コードを入力",class:"login__form-nickname"

        = f.submit "次へ",class:"login__form-loginbtn"

        .login__form__wrap

//新規会員登録フッダー部分//
.new__footer
  .new__footer__list
    .new__footer__list-privacy
      = link_to "プライバシーボリシー"
    .new__footer__list-riyou
      = link_to "メルカリ利用規約"
    .new__footer__list-syoutorihiki
      = link_to "特定商取引に関する表記"
  = link_to root_path do
    =image_tag "logo-gray.svg",class:"new__footer__logo"
  %p.small_title @××××　Mercari
    