.search-container-left
  .search-container-left__order
  .search-container-left--wrap
    %p.search-container-left--wrap__title
      詳細検索
      
    .search-container-left--wrap__group
      %p.search-container-left--wrap__group-title
        = fa_icon"plus"
        キーワードを追加する
      .search-container-left--wrap__group-field

    .search-container-left--wrap__group
      %p.search-container-left--wrap__group-title
        = fa_icon"list"
        カテゴリーを選択する
      .search-container-left--wrap__group-field
      .search-container-left--wrap__group-field
      .search-container-left--wrap__group-field

    .search-container-left--wrap__group
      %p.search-container-left--wrap__group-title
        = fa_icon"tag"
        ブランド名から探す
      .search-container-left--wrap__group-field

    .search-container-left--wrap__group
      %p.search-container-left--wrap__group-title
        = fa_icon"arrows-alt"
        サイズを指定する
      .search-container-left--wrap__group-field

    .search-container-left--wrap__group
      %p.search-container-left--wrap__group-title
        = fa_icon"rmb"
        価格
      .search-container-left--wrap__group-field
      .search-container-left--wrap__group-price
        .search-container-left--wrap__group-price-min
        %p -
        .search-container-left--wrap__group-price-max

    .search-container-left--wrap__group
      %p.search-container-left--wrap__group-title
        = fa_icon"star"
        商品の状態
      .search-container-left--wrap__group-state

    .search-container-left--wrap__group
      %p.search-container-left--wrap__group-title
        = fa_icon"truck"
        配送料の負担
      .search-container-left--wrap__group-fee

    .search-container-left--wrap__group
      %p.search-container-left--wrap__group-title
        = fa_icon"shopping-cart"
        販売状況
      .search-container-left--wrap__group-sale

    .search-container-left--wrap__group
      .search-container-left--wrap__group-btn
        .search-container-left--wrap__group-btn__clear
          クリア
        .search-container-left--wrap__group-btn__end
          完了