.header
  .header__up
    =image_tag "logo001.png", class:"header__up__logo"
    %form.header__up__form
      %input.header__up__form-input{placeholder:"何かお探しですか？"}
      = fa_icon "search" ,class:"header__up__form-input__icon-search"
  .header__down
    .header__down-left
      %ul.header__down-left__nav
        %li.header__down-left__nav-list
          = link_to "",class:"header__down-left__nav-list__link" do
            = fa_icon "list",class:"header__down-left__nav-list__link__icon-category"
            %span カテゴリーから探す
        %li.header__down-left__nav-list
          = link_to "",class:"header__down-left__nav-list__link" do
            = fa_icon "tag",class:"header__down-left__nav-list__link__icon-brand"
            %span ブランドを探す
    .header__down-right
      %ul.header__down-right__nav
        -if user_signed_in?
          %li.header__down-right__nav-list
            = link_to destroy_user_session_path, method: :delete do
              %span.header__down-right__nav-list__login-btn ログアウト

        -else
          %li.header__down-right__nav-list
            = link_to new_user_session_path do
              %span.header__down-right__nav-list__login-btn ログイン
          %li.header__down-right__nav-list
            = link_to "sign_up",method:'get' do
              %span.header__down-right__nav-list__login-btn-new 新規会員登録

#information
  .swiper-container
    .swiper-wrapper
      .swiper-slide 
        = image_tag "information001.jpg"
      .swiper-slide
        = image_tag "information002.jpg"
      .swiper-slide
        = image_tag "information001.jpg"
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

.contents
  %h1.pickup ピックアップカテゴリー
  .item
    %h2.item__title レディース新着アイテム
    //_pickup-item.html.hamlを画面に表示
    = render partial: "pickup-item", collection: @ladies_items ,as: 'item'
    = link_to "",class:"item__footer" do
      すべての商品を見る

  .item
    %h2.item__title メンズ新着アイテム
    //_pickup-item.html.hamlを画面に表示
    = render partial: "pickup-item"
    = link_to "",class:"item__footer" do
      すべての商品を見る

  .item
    %h2.item__title レディース新着アイテム
    //_pickup-item.html.hamlを画面に表示
    = render partial: "pickup-item"
    = link_to "",class:"item__footer" do
      すべての商品を見る

.footer
  .footer-wrap
    .footer-wrap-cell
      %h2.footer-wrap-cell__title
        メルカリについて
      %ul
        %li
          =link_to "会社概要(運営会社)"
        %li
          =link_to "採用情報"
        %li
          =link_to "プレスリリース"
        %li
          =link_to "公式ブログ"
        %li
          =link_to "メルカリロゴ利用ガイドライン"
        %li.sns-link
          =link_to "" do
            = fa_icon "twitter"
        %li.sns-link
          =link_to "" do
            = fa_icon "facebook-square"
    .footer-wrap-cell
      %h2.footer-wrap-cell__title
        ヘルプ＆ガイド
      %ul
        %li
          =link_to "メルカリガイド"
        %li
          =link_to "らくらくメルカリ便"
        %li
          =link_to "ゆうゆうメルカリ便"
        %li
          =link_to "大型メルカリ便"
        %li
          =link_to "メルカリあんしん・あんぜん宣言"
        %li
          =link_to "偽ブランド品撲滅への取り組み"
        %li
          =link_to "メルカリボックス"
    .footer-wrap-cell.wide
      %h2.footer-wrap-cell__title
        プライバシーと利用規約
      .footer-wrap-cell__inner
        %ul
          %li
            =link_to "プライバシーポリシー"
          %li
            =link_to "メルカリ利用規約"
          %li
            =link_to "あんしんスマホサポート制度に関する利用特約"
          %li
            =link_to "コンプライアンスポリシー"

      .footer-wrap-cell__inner
        %ul
          %li
            =link_to "個人データの安全管理に係る基本方針"
          %li
            =link_to "特定商取引に関する表記"
          %li
            =link_to "資金決済法に基づく表示"
          %li
            =link_to "法令順守と犯罪抑止のために"
          %li
            =link_to "返品・返金ポリシー"

    .footer-wrap-cell.auto
      %h2.footer-wrap-cell__title
        国
      %ul
        %li
          =link_to "日本"
        %li
          =link_to "United States"
  .footer-wrap.bottom
    =link_to "" do
      =image_tag "logo-white.svg", class: "footer-logo"
    %span.footer-wrap-copyright
      @ 2019 Mercari

                  

= link_to new_item_path,class:"sell-btn" do
  .sell 出品
  =fa_icon "camera",class:"sell-icon"