//新規会員登録ヘッダー部分//
.new__header
  .new__header__wrap
    %h1
      = link_to "/" do
        =image_tag "logo001.png", class:"new__header__wrap__logo"
  
        //商品情報登録コンテンツ部分//
  .new__main
    %h2.new__main-contents__title 商品の情報を入力
    .new__main-contents
      = form_for(@item, html:{class:'dropzone', id:"item-dropzone"}) do |f|
        .new__main-contents__form
          .new__main-contents__form-wrap
            %label.new__main-contents__form-wrap__label 出品画像
            %span.new__main-contents__form-wrap__hissu 必須
            .login__form-nickname
              %h3 Drop file %header
              %strong Click to upload
            .fallback
              =f.file_filed :image_url
                              
            = f.submit "次へ進む",class:"login__form-loginbtn"
          .login__form__wrap
            = link_to "本人情報の登録について"
            
.sign-up__footer
  .sign-up__footer__list
    .sign-up__footer__list-privacy
      = link_to "プライバシーボリシー"
    .sign-up__footer__list-riyou
      = link_to "メルカリ利用規約"
    .sign-up__footer__list-syoutorihiki
      = link_to "特定商取引に関する表記"
  = link_to root_path do
    =image_tag "logo-gray.svg",class:"sign-up__footer__logo"
  %p.small_title @××××　Mercari
    