= render 'shared/item_header'

.navi-bar

.show
  .show-contents
    %h1.item-name 
      = @item.name
    .show__item
      .show__item-left
        .item-left__image
          - @image.each do |image|
            = image_tag image.name_url ,class:"item-left__image-main" 
            .item-left__iamge-sub
      .show__item-right
        %table.item-right__table
          %tr
            %th 
              出品者
            %td
              = link_to "" do
                = @item.user.name
              .user-rate
                .good
                  = fa_icon "smile-o",class:"icon"
                  %span 0
                .normal
                  = fa_icon "meh-o",class:"icon"
                  %span 0
                .bad
                  = fa_icon "frown-o",class:"icon"
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to "" do
                = @category.name
              = link_to "" do
                = fa_icon "angle-right"
                = @category_child.name
              = link_to "" do
                = fa_icon "angle-right"
                = @category_gchild.name
          %tr
            %th ブランド
            %td 
              = @item.brand.name
          %tr
            %th 商品のサイズ
            %td 
              = @item.size
          %tr
            %th 商品の状態
            %td 
              = @item.item_state.status
          %tr
            %th 配送料の負担
            %td 
              = @item.feewho
          %tr
            %th 配送の方法
            %td 
              = @item.delivery
          %tr
            %th 配送元地域
            %td 
              = link_to "" do
                = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @item.shipment_day
    .item-price
      %span.item-price__box 
        = "¥" + number_with_delimiter(@item.price)
      %span.item-price__tax (税込)
      %span.item-price__shipping 送料込み
    
    =link_to "購入画面に進む","",class:"buy-btn"
    
    .item-description
      %p.item-description__inner
        = @item.description
    
    .item-status
      %button.item-status__btn 
        = fa_icon "heart-o"
        %span いいね
        %span.itemn-status__btn__good 0
      =link_to "" do
        %span.item-status__no-good-report
          = fa_icon "flag-o"
          不適切な商品の報告
      .item-status__safety
        =link_to "" do
          = fa_icon "lock"
          あんしん・あんぜんへの取り組み
  
  .show-comments
    .show-comments__wrap

      %ul.show-comments__wrap__message

      .show-comments__wrap__attention
        %p.show-comments__wrap__attention-p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_for [@item,@message] do |f|
        = f.text_area :comment ,class:"show-comments__wrap__box"
      
        = f.submit "コメントする",class:"show-comments__wrap__btn"

  .show-next
    .show-next__back 
      -if @item.previous.present?
        = link_to "" do
          = fa_icon "angle-left"
          = @item.previous.name
    .show-next__prev 
      -if @item.next.present?
        = link_to "" do
          = @item.next.name
          = fa_icon "angle-right"

  .show-sns
    .show-sns__box
      .show-sns__box-1st
        = link_to "" do
          = fa_icon "twitter-square"
      .show-sns__box-2nd
        = link_to "" do
          = fa_icon "facebook-square"
      .show-sns__box-3rd
        = link_to "" do
          = fa_icon "pinterest-square"

  .show-other-item
    %span.show-other-item__title
      = link_to "" do
        = @item.user.name
        さんのその他の出品
    .show-other-item__wrap
      - @user_items.zip(@user_images).each do |item,image|
        = link_to "" do
          .show-other-item__wrap-item
            = image_tag image.name_url,class:"show-other-item__wrap-item-pic"
            .show-other-item__wrap-item-box
              %p.show-other-item__wrap-item-box__name 
                = item.name
              .show-other-item__wrap-item-box__pricies
                .show-other-item__wrap-item-box__pricies__price 
                  = "¥" + number_with_delimiter(item.price) 
                .show-other-item__wrap-item-box__pricies__good
                  .show-other-item__wrap-item-box__pricies__good-icon 
                    = fa_icon "heart-o"
                  .show-other-item__wrap-item-box__pricies__good-num 
                    １
              %p.show-other-item__wrap-item-box__tax (税込)

  .show-other-item
    %span.show-other-item__title
      = link_to "" do
        = @item.brand.name
        の
        = @item.category.name
        その他の出品
    .show-other-item__wrap
      - @another_items.zip(@another_images).each do |item,image|
        = link_to "" do
          .show-other-item__wrap-item
            = image_tag image.name_url,class:"show-other-item__wrap-item-pic"
            .show-other-item__wrap-item-box
              %p.show-other-item__wrap-item-box__name
                = item.name
              .show-other-item__wrap-item-box__pricies
                .show-other-item__wrap-item-box__pricies__price
                  = "¥" + number_with_delimiter(item.price) 
                .show-other-item__wrap-item-box__pricies__good
                  .show-other-item__wrap-item-box__pricies__good-icon
                    = fa_icon "heart-o"
                  .show-other-item__wrap-item-box__pricies__good-num 
                    １
              %p.show-other-item__wrap-item-box__tax (税込)

= render 'shared/item_footer'
